.header {
  transition: 0.4s ease-in;
}
.header.fixed {
  position: sticky;
  top: 0;
  width: 100%;
}
.sticky-logo,
.header.fixed .logo {
  display: none;
}
.header.fixed .sticky-logo {
  display: block;
}
.slick-slide {
  margin: 0 62px 0 0;
}
/* the parent */
.slick-list {
  margin: 0 -62px 0 0;
}
#success {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#success.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#error {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #f84012;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#error.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(127 207 102);
}
.bg-blue-to-yellow-8, .bg-yellow-to-blue-1 {
  --tw-bg-opacity: 1;
  background-color: #94cb70;
}
.bg-yellow-to-blue-2 {
  --tw-bg-opacity: 1;
  background-color: #b0c485;
}
.bg-yellow-to-blue-3 {
  --tw-bg-opacity: 1;
  background-color: #9cc6a6;
}
.bg-yellow-to-blue-4 {
  --tw-bg-opacity: 1;
  background-color: #88c8c7;
}
.bg-yellow-to-blue-5 {
  --tw-bg-opacity: 1;
  background-color: #74cae8;
}
.bg-yellow-to-blue-6 {
  --tw-bg-opacity: 1;
  background-color: #8cd2eb;
}
.bg-yellow-to-blue-7 {
  --tw-bg-opacity: 1;
  background-color: rgb(136 200 199);
}
.bg-yellow-to-blue-8 {
  --tw-bg-opacity: 1;
  background-color: rgb(116 202 232);
}
.text-charcoal-30 {
  --tw-text-opacity: 1;
  color: rgb(179 179 179/var(--tw-text-opacity));
}

header.careers-company-header {
    display: none !important;
}
.to-blue-500 {
  --tw-gradient-to: #62bc64;
}
.from-cyan-500 {
  --tw-gradient-from: #68ccd9;
  --tw-gradient-stops: rgb(104 204 217), var(--tw-gradient-to, rgb(6 182 212 / 0));
}

@media (min-width: 768px) {
  .slick-list.draggable {
    padding: 0px 0px !important;
    width: 100vw;
 
  }
}
@media (max-width: 768px) {
  .slick-list.draggable {
    padding: 0px 0px !important;
    width: 100vw;

  }
  @media (max-width: 320px){
    .slick-list.draggable {
      padding: 0px 0px !important;
      width: 501px;
  }
  .slick-slide {
    margin: 0 32px 0 0;
  }
}
  img.w-full.object-cover {
  height:9rem;
  }
}
.active{
  border-bottom: 5px solid #65b722 !important;
  color: #65b722;
}
input#name:focus {
  border-bottom: 1px solid #64b622;
}

input#mobile:focus{
  border-bottom: 1px solid #64b622;
}
input#email:focus{
  border-bottom: 1px solid #64b622;
}
input::placeholder{
  font-family:mono;
  color:#c0c0c0 !important;
      font-size: 14px;
  line-height: 1.5rem;
      word-spacing: 0.4rem;
      letter-spacing: .15em;
  text-transform: uppercase;
      font-weight: 400;
}
textarea#message:focus-visible {
  outline: 1px solid #65b622 !important;
  }
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #272727 inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: #b6c0b6 !important;
}