.header {
  transition: 0.4s ease-in;
}
.header.fixed {
  position: sticky;
  top: 0;
  width: 100%;
}
.sticky-logo,
.header.fixed .logo {
  display: none;
}
.header.fixed .sticky-logo {
  display: block;
}
.slick-slide {
  margin: 0 62px 0 0;
}
/* the parent */
.slick-list {
  margin: 0 -62px 0 0;
}
