.header {
  transition: 0.4s ease-in;
}
.header.fixed {
  position: sticky;
  top: 0;
  width: 100%;
}
.sticky-logo,
.header.fixed .logo {
  display: none;
}
.header.fixed .sticky-logo {
  display: block;
}
.slick-slide {
  margin: 0 62px 0 0;
}
/* the parent */
.slick-list {
  margin: 0 -62px 0 0;
}
#success {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#success.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#error {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #f84012;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#error.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
